<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean1"
          scope="singleton"
          init-method="init"
          destroy-method="destroy"
          factory-method="getClassicalMusic"
          class="org.zhyuliuk.springapp.ClassicalMusic">

    </bean>

    <bean id="musicBean2"
          class="org.zhyuliuk.springapp.RockMusic">
    </bean>

    <bean id="musicBean3"
          class="org.zhyuliuk.springapp.RapMusic">
    </bean>
    <bean id="musicBean"
          class="org.zhyuliuk.springapp.ClassicalMusic">
    </bean>
    <bean id="musicPlayer" class="org.zhyuliuk.springapp.MusicPlayer" >
        <property name="music" >
            <list>
                <ref bean="musicBean1"/>
                <ref bean="musicBean2"/>
                <ref bean="musicBean3"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>